{% extends 'base.html' %}
{% block header_source %}
<link href="{% static 'css/cart/cart.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="search_bar clearfix">
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont icon-caigou"></i>购物车</div>
</div>

<div class="total_count">全部商品<em>{{ cartscount }}</em>件</div>
<ul class="cart_list_th clearfix">
    <li class="col01" style="width: 22%">商品名称</li>
    <li class="col02">商品单位</li>
    <li class="col03">商品价格</li>
    <li class="col04">数量</li>
    <li class="col05">小计</li>
    <li class="col06">操作</li>
</ul>
{% for cart in carts %}
<ul class="cart_list_td clearfix">
    <a href="{% url 'goodsdetail-search' identifier=cart.goods.identifier %}">
        <li class="col02" style="background-color: #ffffff">
            <img src="/static/{{ cart.goods.goodspic.pic0 }}" alt="{{ cart.goods.name }}" title="{{ cart.goods.goodsdetail.context }}">
        </li>
    </a>
    <li class="col03">{{ cart.goods.name }}<br>{{ cart.color }}{{ cart.version }}</li>
    <li class="col04">个</li>
    <li class="col05 price">{{ cart.goods.price }}</li>
    <li class="col06 num">{{ cart.number }}</li>
    <li class="col07"></li>
    <li class="col08"><a href="{% url 'cartdel' cartid=cart.id %}">删除{{ cart.id }}</a></li>
</ul>
{% endfor %}


<ul class="settlements">
    <li class="col03">合计(不含运费)：<span>¥</span><em></em><br>共计<b>{{ cartscount }}</b>件商品</li>
    <li class="col04"><a href="">去结算</a></li>
</ul>

<script>
    // i表示下标，val表示值
    $.each($('.cart_list_td').find('.price'), function(i){
        var price = $('.cart_list_td').find('.price').eq(i).html();
        var num = $('.cart_list_td').find('.col06').eq(i).html();
        $('.cart_list_td').find('.col07').eq(i).html(price * num+ '.00')
    })

    var total = 0
    $.each($('.cart_list_td').find('.col07'), function (i) {
        total += parseFloat($('.cart_list_td').find('.col07').eq(i).html())
    })
    $('.settlements').find('.col03').find('em').eq(0).html(total+'.00')

</script>
{% endblock %}
