.register-form{
    margin-top: 80px;
    margin-bottom: 100px;
    overflow: hidden;
}
.register-form .form-list{
    position: relative;
    left: 16%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}
#register-submit{
    width: 110px;
    height: 30px;
    color: #3B3636;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 56%;
    border: 1px solid #cbcbcb;
    border-radius: 8%;
    background-color: #f7f7f7;
}
#register-submit:hover{
    border-color: #ff6700;
    background-color: #ff6700;
    color: #ffffff;
}
.mustbe{
    color: #ff6700;
}