input{
    font-weight: bold!important;
}
#chiocesex input{
    position: static;
    margin-left: 20px;
}
#finishAgreement{
    position: relative;
    left: 10%;
    width: 260px;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #3B3636;
}
#finishAgreement input{
    position: static;
    margin-left: 20px;
}
#finishAgreement a:hover{
    color: #ff6700;
}
#password-box{
    height: 28px;
    position: absolute;
    top: 38px;
    left: 224px;
    background-color: #ffffff;
    border: 2px solid #dfdfdf;
}
#password-box .password-box{
    text-align: center;
    margin-left: -14px;
    margin-top: 2px;
    z-index: 50;
    font-size: 16px;
    color: #000000;
}
