/* 头部导航栏 */
nav .container{
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}
.navbar{
    min-height: 20px;
    height: 40px;
}
.nav-left{
    float: left;
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 4px;
    height: 40px;
    z-index: 100;
}
.navbar-brand{
    float: none;
    padding-right: 0px;
    font-size: 16px;
}
nav .sep{
    margin: 0 4px;
    color: #424242;
}
nav .nav-cart{
    float: right;
    position: relative;
    margin-left: 20px;
    height: 40px;
    width: 120px;
}
nav .nav-cart-active{
    background-color: #ffffff;
    color: #ff6700;
}
nav .top-cart{
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 15px;
    color: #b0b0b0;
    background-color: #424242;
    display: block;
}
nav .top-cart-active{
    background-color: #ffffff;
    color: #ff6700;
}
nav .top-cart span{
    margin-left: -8px;
}
#top-cart-menu{
    width: 320px;
    height: 140px;
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
}
nav .loading{
    position: absolute;
    left: 16%;
    top: 40%;
    font-size: 16px;

}
nav .nav-right{
    width: auto;
    float: right;
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 4px;
    height: 40px;
}

/* 分类产品导航栏 */
.site-header{
    position: relative;
    height: 80px;
}
.site-header a {
    text-decoration:none ;
    outline: none;
    color: #080808;
}
.site-header .container{
    height: 80px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.site-header .header-logo{
    float: left;
    height: 80px;
}
.site-header .header-logo img{
    width: 60px;
    height: 60px;
}
.site-header .header-nav{
    float: left;
    width: 814px;
}
.site-header .header-nav-list{
    position: relative;
    float: left;
    height: 80px;
    width: 750px;
    list-style-type: none;
    margin-left: 150px;
    margin-top: 12px;
    overflow: hidden;
}
.site-header .header-nav-list li{
    float: left;
    text-align: center;
}
.site-header .header-nav-list .title{
    float: left;
    padding: 20px 20px 38px;
    font-size: 17px;
}
.site-header .header-nav-list li:hover > .title{
    color: #ff6700;
}
#header-nav-goods-show{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    z-index: 50;
    box-shadow: 0 0 60px #e0e0e0;
    overflow: hidden;
    display: none;
}
#header-nav-goods-show .container{
    position: relative;
}
#header-nav-goods-show ul{
    height: 200px;
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 64px;
}
#header-nav-goods-show ul li{
    position: relative;
    height: 200px;
    width: 150px;
    float: left;
    margin: 0 3px;
}
#header-nav-goods-show ul li img{
    height: 134px;
    width: 122px;
    margin-top: 10px;
    margin-left: 16px;
}
#header-nav-goods-show ul li .title{
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}
#header-nav-goods-show ul li p{
    text-align: center;
    font-size: 14px;
    color: #d43f3a;
    padding-top: 5px;
}
.site-header .header-search{
    float: left;
    position: relative;
    height: 80px;
    width: auto;
    padding-top: 18px;
    padding-left: 22px;
}
.site-header .header-search .input-group{
    float: left;
    height: 40px;
    width: 230px;
    border: 1px solid #e0e0e0;
    border-right-style: none;
    background-color: #ffffff;
    font-size: 20px;
    display: block;
}
.site-header .header-search .input-group-submit{
    height: 40px;
    width: 60px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    display: block;
    font-size: 14px;
}
/*
    +连接同级下一个元素
    >连接第一个子元素
 */
.site-header .header-search .input-group:hover{
    border-color: #ff6700;
}
.site-header .header-search .input-group:hover +.input-group-submit{
    border-color: #ff6700;
}
.site-header .header-search .input-group-submit:hover{
    color: #ffffff;
    background-color: #ff6700;
    border-color: #ff6700;
}
.site-header .header-search .header-search-form:hover > .input-group,.input-group-submit{
    border-color: #ff6700;
}
/* 轮播图 */
#goods-show{
    margin: 12px auto;
    background-color: #f5f5f5;
    z-index: 20;
}
#goods-show .container{
    width: 1226px;
    height: 460px;
    position: relative;
    overflow: hidden;
}
#goods-show .goods-show-box{
    width: 1226px;
    height: auto;
    position: absolute;
    left: 58px;
}
#goods-show .goods-show-box img{
    width: 1226px;
    height: 460px;
    margin-left: -60px;
}
#goods-show .pagination-box{
    position: absolute;
    bottom: 12px;
    right: 190px;
    left: auto;
    width: auto;
    height: 20px;
    float: right;
}
#goods-show .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    text-align: center;
    opacity: 0.5;
    background: rgba(0,0,0,0.4);
}
#goods-show .swiper-pagination-bullet:hover{
    background-color: #ffffff;
    border-color: rgba(0,0,0,0.4);
}
#goods-show .swiper-pagination-bullet-active {
    color: #fff;
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(0,0,0,0.4);
    opacity: 1;
}
#goods-show .button-next{
    right:10px;
    left:auto;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    margin-right: -8px;
    z-index: 10;
    cursor: pointer;
    width: 37px;
    height: 54px;
    background-image: none;
}
#goods-show .button-next:hover{
    color: #ffffff;
}
#goods-show .button-next i{
    font-size: 40px;
}
#goods-show .button-prev{
    left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    margin-left: -8px;
    z-index: 10;
    cursor: pointer;
    width: 37px;
    height: 54px;
    background-image: none;
}
#goods-show .button-prev:hover{
    color: #ffffff;
}
#goods-show .button-prev i{
    font-size: 40px;
}







