/* 头部导航栏 */
nav .container{
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}
.navbar{
    min-height: 20px;
    height: 40px;
}
.nav-left{
    float: left;
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 4px;
    height: 40px;
}
.navbar-brand{
    float: none;
    padding-right: 0px;
    font-size: 16px;
}
nav .sep{
    margin: 0 4px;
    color: #424242;
}
nav .nav-cart{
    float: right;
    position: relative;
    margin-left: 20px;
    height: 40px;
    width: 120px;
}
nav .nav-cart-active{
    background-color: #ffffff;
    color: #ff6700;
}
nav .top-cart{
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 15px;
    color: #b0b0b0;
    background-color: #424242;
    display: block;
}
nav .top-cart-active{
    background-color: #ffffff;
    color: #ff6700;
}
nav .top-cart span{
    margin-left: -8px;
}
#top-cart-menu{
    width: 320px;
    height: 140px;
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
}
nav .loading{
    position: absolute;
    left: 16%;
    top: 40%;
    font-size: 16px;

}
nav .nav-right{
    width: auto;
    float: right;
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 4px;
    height: 40px;
}

/* 分类产品导航栏 */
.site-header{
    position: relative;
    height: 80px;
}
.site-header a {
    text-decoration:none ;
    outline: none;
    color: #080808;
}
.site-header .container{
    height: 80px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.site-header .header-logo{
    float: left;
    height: 80px;
}
.site-header .header-logo img{
    width: 60px;
    height: 60px;
}
.site-header .header-nav{
    float: left;
    width: 814px;
}
.site-header .header-nav-list{
    position: relative;
    float: left;
    height: 80px;
    width: 820px;
    list-style-type: none;
    font-size: 16px;
    padding-left: 150px;
    padding-top: 10px;
}
.site-header .header-nav-list li{
    float: left;
    text-align: center;
    font-size: 16px;
}
.site-header .header-nav-list li a{
    float: left;
    padding: 20px 20px 38px;
}
.site-header .header-nav-list li a:hover{
    color: #ff6700;
}
.site-header .header-search{
    float: left;
    position: relative;
    height: 80px;
    width: auto;
    padding-top: 18px;
    padding-left: 22px;
}
.site-header .header-search .input-group{
    float: left;
    height: 40px;
    width: 230px;
    border: 1px solid #e0e0e0;
    border-right-style: none;
    background-color: #ffffff;
    font-size: 20px;
    display: block;
}
.site-header .header-search .input-group-submit{
    height: 40px;
    width: 60px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    display: block;
    font-size: 14px;
}
/*
    +连接同级下一个元素
    >连接第一个子元素
 */
.site-header .header-search .input-group:hover{
    border-color: #ff6700;
}
.site-header .header-search .input-group:hover +.input-group-submit{
    border-color: #ff6700;
}
.site-header .header-search .input-group-submit:hover{
    color: #ffffff;
    background-color: #ff6700;
    border-color: #ff6700;
}
.site-header .header-search .header-search-form:hover > .input-group,.input-group-submit{
    border-color: #ff6700;
}
/* 轮播图 */
#goods-show{
    width: 1226px;
    height: 300px;
    margin: 0 auto;
}
#goods-show .container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#goods-show .goods-show-box{
    width: 100%;
    height: 100%;
}
#goods-show .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
#goods-show .goods-show-pagination{
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 0;
    width: 100%;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}
#goods-show .button-next{
    right:10px;
    left:auto;
    position: absolute;
    top: 50%;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    z-index: 10;
    cursor: pointer;
    width: 37px;
    height: 54px;
    background-image: none;
}
#goods-show .button-next:hover{
    background-color: #74777a;
    color: #ffffff;
}
#goods-show .button-next i{
    font-size: 40px;
}
#goods-show .button-prev{
    left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    z-index: 10;
    cursor: pointer;
    width: 37px;
    height: 54px;
    background-image: none;
}
#goods-show .button-prev:hover{
    background-color: #74777a;
    color: #ffffff;
}
#goods-show .button-prev i{
    font-size: 40px;
}







