#register-form{
    margin-top: 80px;
    margin-bottom: 100px;
    overflow: hidden;
}
#register-form .form-list{
    position: relative;
    left: 16%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}


