
.register-form{
    margin-top: 80px;
    margin-bottom: 100px;
    overflow: hidden;
}
.register-form .form-list{
    position: relative;
    left: 16%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}
#chiocesex input{
    position: static;
    margin-left: 20px;
}
#finishAgreement{
    position: relative;
    left: 10%;
    width: 260px;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #3B3636;
}
#finishAgreement input{
    position: static;
    margin-left: 20px;
}
#finishAgreement a:hover{
    color: #ff6700;
}
#register-submit{
    width: 110px;
    height: 30px;
    color: #3B3636;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 56%;
    border: 1px solid #cbcbcb;
    border-radius: 8%;
    background-color: #f7f7f7;
}
#register-submit:hover{
    border-color: #ff6700;
    background-color: #ff6700;
    color: #ffffff;
}
.mustbe{
    color: #ff6700;
}
#password-box{
    height: 28px;
    position: absolute;
    top: 38px;
    left: 224px;
    background-color: #ffffff;
    border: 2px solid #dfdfdf;
}
#password-box .password-box{
    text-align: center;
    margin-left: -14px;
    margin-top: 2px;
    z-index: 50;
    font-size: 16px;
    color: #000000;
}
