{% extends 'base.html' %}
{% load dbfilter %}
{% block header_source %}
<link href="{% static 'css/goods/goodslist.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="goods-list" id="goods-list">
    <div class="container">
        <!-- 检索栏 -->
        <div id="goods-list-nav">
            <table class="table table-striped table-text">
                <tbody>
                <tr>
                    <td class="title">类型:</td>
                    <td class="context"><a href="{% url 'goodslist' type='news' %}'">新品爆款</a></td>
                    <td class="context"><a href="{% url 'goodslist' type='cost' %}">高性价比</a></td>
                    <td class="context"><a href="{% url 'goodslist' type='classic' %}">经典永恒</a></td>
                    <td class="context"><a href="{% url 'goodslist' type='parts' %}">配件大全</a></td>
                </tr>
                <tr>
                    <td class="title">公司:</td>
                    {% for company in companys %}
                    <td class="context"><a href="{% url 'goodslist' type=type %}?company={{ company.companyname }}">{{ company.companyname }}</a></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% if company %}
                    <td class="title">价格:</td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?company={{ company }}&price=2000">2000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?company={{ company }}&price=3000">3000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?company={{ company }}&price=4000">4000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?company={{ company }}&price=5000">5000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?company={{ company }}&price=6000">6000元及以下</a></td>
                    {% else %}
                    <td class="title">价格:</td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?price=2000">2000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?price=3000">3000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?price=4000">4000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?price=5000">5000元及以下</a></td>
                    <td class="context"><a href="{% url 'goodslist' type=type %}?price=6000">6000元及以下</a></td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 导航条 -->
        <div id="goods-list-navigation-bar">
            <a href="{% url 'index' %}">首页</a>
            >
            {% if title %}
            <a href="javascript:;">{{ title }}</a>
            {% endif %}

            {% if company %}
            >
            <a href="javascript:;" id="goods-list-nav-company">{{ company }}</a>
            {% endif %}

            {% if price %}
            >
            <a href="javascript:;" id="goods-list-nav-price">{{ price }}</a>
            {% endif %}
        </div>
        <!-- 热度表 -->
        <div id="goods-list-left">
            <fieldset>
                <legend class="left-title">其他人还关注
                    <i class="iconfont icon-wangguan"></i></legend>
                <div id="goods-list-hot">
                    <ul>
                        {% for hot in hots %}
                        <a href="">
                            <li>
                                <img src="/static/{{ hot.goodspic.pic0 }}" alt="{{ hot.name }}">
                                <div class="title">
                                    {{ hot.name }}
                                </div>
                                <p class="price">{{ hot.price }}元</p>
                                <p class="click-num">{{ hot.click }}人看过</p>
                                <hr width="130px" size="3px">
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </fieldset>
        </div>
        <!-- 展示列表 -->
        <div id="goods-list-right">
            <div class="container">
                <ul>
                    {% for result in results %}
                    <a href="">
                        <li>
                            <img src="/static/{{ result.goodspic.pic0 }}" alt="{{ result.name }}"
                                 class="goods-show-img">
                            <div class="goods-show-title">
                                {{ result.name }}
                            </div>
                            <p class="goods-show-price">{{ result.price }}元</p>
                            <del><span class="num">{% pricefilter result.price %}</span>
                                元
                            </del>

                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- 页码 -->
        <div id="goods-list-button">
            <ul class="pagination">
                <!-- 检测是否有上一页 -->
                {% if results.has_previous %}
                <li>
                    <a href="{% url 'goodslist' type=type %}?page={{results.previous_page_number}}">上一页</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#">上一页</a>
                </li>
                {% endif %}

                <!-- 选中当前页 -->
                {% for page_number in paginator.page_range %}
                {% if page_number == results.number %}
                <li class="active">
                    <a href="{% url 'goodslist' type=type %}?page={{page_number}}">{{ page_number }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'goodslist' type=type %?page={{page_number}}">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endfor %}

                <!-- 检测是否有下一页 -->
                {% if results.has_next %}
                <li>
                    <a href="{% url 'goodslist' type=type %}?page={{results.next_page_number}}">下一页</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#">下一页</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}